@import url("../../App.css");

.light .home {
    padding: 2% 5%;
    background: var(--light-theme-primary-background);
    height: 100vh;
}

.dark .home {
    padding: 2% 5%;
    background: var(--dark-theme-primary-background);
    height: 100vh;
}
